.file-input {
    display: none;
  }

 

  .button-dropzone{
    color: white;
    width: 183px;
    height: 44px;
    border-radius: 21.5px;
    background-color: green;
    padding: 8px 16px;
  }

  .dragdrop-wrapper{
    width: 450px;
    height: 200px;
    padding: 2rem;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
    margin: 0 auto;
    h3 {
      font-size: 20px;
      font-weight: 600;
      color: #38424c;
    }
  }

