<div></div>
<div *ngIf="projects" class="projects-container">
    <div *ngFor="let project of projects" class="project-item">
        <a href="/project/{{project.id}}/description">
            <mat-card class="project-card" appearance="outlined" >
                <div class="card-content">

                <div class="card-image-container">
                    <img mat-card-image [src]="project.image" alt="Project Image">
                </div>
        

                <div class="card-info">
                    <mat-card-header>
                    <mat-card-title>{{ project.title }}</mat-card-title>
                    <mat-card-subtitle>{{ project.description }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                    </mat-card-actions>
                </div>
                </div>
            </mat-card>
        </a>
    </div>
  </div>
  