<main>
    <form>
        <h1>Signin</h1>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input  type="email" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>password</mat-label>
            <input  type="password" matInput placeholder="Password">
        </mat-form-field>
        <div class="aligned-to-right">
            <button mat-button>Recover password</button>
        </div>
        <div class="center-button">
            <button mat-stroked-button>Connect</button>
            <button mat-flat-button>Register</button>
        </div>
    </form>
</main>