<main>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1>Signin</h1>
  
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Email" formControlName="email">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
  
      <div class="aligned-to-right">
        <button mat-button>Recover password</button>
      </div>
  
      <div class="center-button">
        <button mat-stroked-button type="submit" [disabled]="loginForm.invalid">Connect</button>
        <button mat-flat-button>Register</button>
      </div>
    </form>
  </main>
  